.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    font-size: 30px;
}
.counter {
    padding: 0 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
}